
<%= render "profile_picture"%>
<h2>
  <%= @display_user.name %>
  <%= render "friend_request_button" %>
</h2>
<p><%= link_to "Pictures", user_pictures_path(@display_user) %> </p>
<p><%= link_to "Statuses", user_statuses_path(@display_user) %>

<% if @display_user == current_user %>
  <%= render "posts/form" %>
<% end %>

<% @posts.each do |post| %>

  <p><%=
  @post = post
  render "posts/post"
  %></p>
<% end %>
